html {
    background-color: moccasin;
}

.divClass {
    display: flex;
    flex-direction: column;
    align-items:center
    justify-content: center;
    text-align: center;
}
h1 {
    color: coral;
    background-color: whitesmoke;
    border: 5px ridge coral;
    text-align: center;
    width: 600px;
}
h3{
    width: 600px;
    margin: 0cm;
}
h4{
    width: 600px;
    margin: 0cm;
}
li{
    margin-top: 20px;
}
img {
    width: 400px;
    margin-top: 20px;
}
#ThirdDiv {
    height: 600px;
    width: 500px;
    background-color:antiquewhite;
    padding: 20px;
    margin: 50px;
    border: 10px ridge saddlebrown;
}
#SpanId {
    width: 600px;
    font-size: 15px;
    margin: 10px;
}
p {
    color:crimson;
    width: 600px;
}
